# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- Elaborate a table of Data Sciencie tools
- Create codes cell with simple arithmetic expression

Some of the popula languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java
5. C
6. C++
7. Scala

Some of the commonly used libraries used by Data Scientist include:
1. TensorFlow
2. Pandas
3. NumPy

|Data Science Tools|
|-------|
|Jupyter|
|Spark|
|TensorFlow|

### Bellow are a few examples of evaluating arithmetic expressions in Python

###### This is a simpe arithmeticexpression to multiply then add integers

In [3]:
(3*4)+5

17

###### This will convert 200 minutes to hours by divide by 60

In [4]:
200/60

3.3333333333333335

## Author
Ixquic Lara Tapia